  {{> head}}


  {{> navbar}}
  <div class="row">
    <div class='col-8'>
        <h1>
            hola
        </h1>
    </div>
    <div class='col-4'>
        <img src='assets/image/primeraimagen.jpg' class="img-thumbnail">
    </div>
    
    </div>

  {{> footer}}